---
import StatusLayout from '../components/StatusLayout.astro'

interface Props {
   error: Error
}

const { error } = Astro.props
---

<StatusLayout title="Error">
   <h1>500</h1>
   <h2>An Error ocurred</h2>
   <p>
      <code>{error.message}</code>
   </p>
</StatusLayout>

<style scoped>
   p {
      text-align: center;
   }
</style>
