---
import IconList from '../components/IconList.tsx'
import Layout from '../layouts/Layout.astro'
import getIcons from '../lib/getIcons'
import { pageOf } from '../lib/page'
import { createSearcher, MAX_ITEMS } from '../lib/search'

export const prerender = false

const icons = getIcons()
const search = createSearcher(icons)

const params = new URLSearchParams(Astro.url.searchParams)

const query = params.get('q') ?? ''

const matches = search(query, true)
const page = pageOf(matches, MAX_ITEMS)
---

<Layout title="Minecraft Icons">
   <main>
      <IconList client:load page={page} query={query} />
   </main>
</Layout>

<style>
   li:not(:last-child) {
      margin-bottom: 0.5em;
   }
</style>
