---
import IconList from '../components/IconList.tsx';
import Layout from '../layouts/Layout.astro';
import getIcons from '../lib/getIcons';

const icons = getIcons()
---

<Layout title="Minecraft Icons">
   <main>
	   <IconList client:load icons={icons}></IconList>
   </main>
</Layout>

<style>
	li:not(:last-child) {
		margin-bottom: 0.5em;
	}
</style>
