---
import Layout from '../layouts/Layout.astro';

const examples = [
	"minecraft/diamond",
	"minecraft/acacia_boat",
	"minecraft/diamond",
	"minecraft/bookshelf",
	"quark/dark_oak_bookshelf",
]

const exampleUrls = examples.map(it => `/icons/${it}.png`)
---

<Layout title="Minecraft Icons">
	<p><b>This website serves icons of minecraft blocks & items that have been generated using its assets</b></p>
	<p>Try requesting an icons using the following path template:</p>
	<code>/assets/icons/[namespace]/[id].png</code>
	<p>For example:</p>
	<ul>
		{exampleUrls.map(url => 
			<li><a href={url}>{url}</a></li>
		)}
	</ul>
</Layout>

<style>
	li:not(:last-child) {
		margin-bottom: 0.5em;
	}
</style>
