ul {
   list-style: none;
   display: grid;
   grid-template-columns: repeat(auto-fit, 12em);
   gap: 1em;
}

input[type='text'] {
   width: 400px;
   max-width: 100%;
}

.container {
   display: grid;
}

button.more {
   margin-top: 2em;
   padding-left: 3em;
   padding-right: 3em;
   justify-self: center;
}
